<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Recipe Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="d-none d-md-block d-flex align-items-center">
        <div class="navbar-nav d-flex float-start">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="/recipes" *ngIf="isAuthenticaded">Recipe</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="/auth" *ngIf="!isAuthenticaded">Authenticate</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="/shopping-list">Shopping List</a>
          </li>
        </div>
        <div class="navbar-nav d-flex float-end">
          <li class="nav-item" *ngIf="isAuthenticaded">
            <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
          </li>
          <li class="nav-item dropdown dropstart" appDropdownDirective *ngIf="isAuthenticaded">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </div>
      </div>
      <div class="offcanvas-body d-block d-md-none">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" routerLink="/recipes" *ngIf="isAuthenticaded">Recipe</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" routerLink="/auth" *ngIf="!isAuthenticaded">Authenticate</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" routerLink="/shopping-list">Shopping List</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticaded">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
          <li class="nav-item dropdown" appDropdownDirective *ngIf="isAuthenticaded">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="onSaveData()">Save Data</a></li>
              <li><a class="dropdown-item" (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>